@{
    ViewData["Title"] = "Test Web Availability";
}

<head>
    <title>Ping It</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <div class="inner">
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="~/Options/index"> Home </a></li>
                <li><a href="~/WebTest/Index"> Web Test </a></li>
                <li><a href="~/CrowdSource/Index"> Crowdsourced Database </a></li>
                <li><a href="~/Options/dataanalytics.html"> Data Analytics </a></li>
            </ul>
        </nav>
        <!-- Main -->
        <div id="main">
            <div class="inner">
                <h2 align="center">Test Your Web Address Here</h2>
                <p></p>
                <p></p>
                <form method="post" action="#">
                    <!--Create an options table to choose for webtest-->
                    <table align="center" style="width:800px">
                        <tr> 
                            <td>
                                URL Required
                            <textarea id="test_url" placeholder="Enter your URL here." style="width: 700px; height: 20px"></textarea></td>
                        </tr>
                     <table align="center" style="width:800px">
                        <tr>
                            <td>
                                Select Browser
                                <select id="browser_options" name="browser" style="width: 300px">
                                    <option value="chrome">Chrome &nbsp&nbsp &dtrif;</option>
                                    <option value="firefox">FireFox</option>
                                    <option value="phantomJS">Headless</option>
                                </select>
                            </td>
                            <td>
                                Select Provider
                                <textarea id="provider" placeholder="Enter your provider (i.e. AT&T)" style="width: 300px; height: 20px"></textarea>
                            </td>
                        </tr>
                        <tr> 
                            <td>
                                City
                                <textarea id="city" placeholder="Input" style="width: 300px; height: 20px"></textarea>
                            </td>
                            <td>
                                State
                                <textarea id="state" placeholder="all" style="width: 300px; height: 20px"></textarea>
                            </td>
                        </tr>
                    <table align="center" style="width:800px">
                        <tr>
                            <td align="center"><input type="button" value="Test" id="test_btn" style="width: 100px" onclick="TestWebsite()" /></td>
                        </tr>
                    </table>
                    </table>
                    </table>
                </form>
                <div id="table_section"></div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script>
        function TestWebsite() {
            $.ajax({
                type: "POST",
                url: "/WebTest/PrepareBatch",
                async: true,
                dataType: "json",
                data: {
                    requests: $("#no_requests").val()
                },
                success: function () {
                    
                },
                error: function () {
                    return "error";
                }
            });
            var nr = parseInt($("#no_requests").val());
            for (i = 0; i < nr; i++) {
                TestWebsiteHelper();
            }
            RenderTable();
            
        }     
    </script>
    <script>
        //Tests the website with url and browser
        function TestWebsiteHelper() {
            $.ajax({
                type: "POST",
                url: "/WebTest/TestWebsite",
                async: true,
                dataType: "json",
                data: {
                    url: $("#test_url").val(),
                    browser: $("#browser_options").val(),
                    city: $("#city").val(),
                    state: $("#state").val(),
                    provider: $("#provider").val(),
                    requests: $("#no_requests").val()
                },
                success: function (data) {
                },
                error: function () {
                    return "error";
                }
            });
        }
    </script>
    <script>
        //Renders the tables
        function RenderTable() {
            $("#table_section").load('@Url.Action("Table","WebTest")');
        }
    </script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>



