@{
    ViewData["Title"] = "About";
}

<head>
    <title>Ping It</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <div class="inner">
            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="~/Options/index"> Home </a></li>
            <li><a href="~/WebTest/Index"> Web Test </a></li>
            <li><a href="~/CrowdSource/Index"> Crowdsourced Database </a></li>
            <li><a href="~/DataAnalytics/Index"> Data Analytics </a></li>
            <li><a href="~/About/Index"> About </a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <h1 align="center"> About </h1>
            <p></p>
            <h2>Why Ping It?</h2>
            <p></p>
            Ping It is a free, peer-based web-service aiming to help users fight the repeal of net neutrality. It includes comprehensive information aiming to help users fight the repeal of net neutrality regulations.
            <p></p>

            <h2>What’s happening?</h2>
            In December 2017, The Federal Communications Commission (FCC) voted to discard
            net neutrality rules which required broadband providers to enable access to all sites equally.
            <p></p>
            Though there are countless lawsuits due to challenge the repeal, it is a real possibility
            that broadband providers will soon throttle access to websites not owned by them,
            and otherwise may require consumers and website owners alike to pay for “premium”
            web services. While these measures would impact any website or web service,
            those most negatively impacted will likely be consumers and small business owners.
            <p></p>
            In December 2017, The Federal Communications Commission (FCC) voted to discard
            net neutrality rules which required broadband providers to enable access to all sites equally.
            <p></p>
            Though there are countless lawsuits due to challenge the repeal, it is a real possibility
            that broadband providers will soon throttle access to websites not owned by them,
            and otherwise may require consumers and website owners alike to pay for “premium”
            web services. While these measures would impact any website or web service,
            those most negatively impacted will likely be consumers and small business owners.
            <p></p>
            <hr />

            <h2>User Guide:</h2>
            <h3> 1. What's included on Ping It? </h3>
            <p></p>
            <b> Web Performance Testing </b>
            <p> Simulates concurrent tests and allows users to input different locations from across the United States.</p>
            <p></p>
            <b> Crowdsourced Database </b>
            <p>
                Offers anonymized data from all users, in addition to data from the FCC, Sucuri Load Tester, and Netflix ISP.
                Data features broadband availability and speeds for sample websites and locations from around the world.
            </p>
            <p></p>
            <b> Data Analytics </b>
            <p> Features individual user test performance analytics, including a comparison of crowd-sourced data and user data.</p>

            <h3> 2. Understanding site-specific instructions. </h3>
            <p></p>
            <b>Website performance testing</b>
            The performance testing tables take a considerable amount of time to load your  test results
            once the submit button is clicked. This is especially true if you request multiple tests
            at the same time. However, all functionality is working as intended.
            City and state criteria are optional, as they are only available for the FireFox browser option.
            If you do not enter a city/state, then the location and state is automatically set to the location
            of the IP address of your computer. In addition, the state input must be entered as a state abbreviation
            (i.e. GA, not Georgia).
            <p></p>
            <b> Crowdsourced Database </b>
            All fields are required to view the database tables unlike previously.
            For the public website information table, the results will include only the main domain of the url.
            For example, if you enter www.google.com/questions, it will pull results using the basic domain of www.google.com.
            <p></p>
            <p></p>
            <hr />
            <hr>
            <h2> Additional Resources: </h2>
            <h3>How can I stay up to date with the legal fight for net neutrality?</h3>
            The New York Times provides excellent coverage about net neutrality, including commentary and archival articles.
            Visit the site by clicking <a href="https://www.nytimes.com/topic/subject/net-neutrality"> here</a>.
            <p></p>
            <h3>What other resources are available to me?</h3>
            <p></p>
            <ul>
                <li>
                    <b>FCC Broadband Map</b>
                    The Federal Communications Commission (FCC) provides a visualization of residential fixed broadband deployment data,
                    as per the requirements of the FCC Form 477. The information is updated by broadband providers bi-yearly, in June and December.
                    Through this resource, users can view the broadband provider services available to them, in addition to the download and
                    upload mbps speed. Users can also access area summaries and compare broadband provisions across different areas.
                    In the event that certain broadband providers begin to change their terms of service, consumers may use this information
                    to see what other broadband services are available and accessible to them.
                </li>
                <li>
                    <b> Pingdom Live Map </b>
                    Pingdom provides a free map in which users can see how many websites are currently out of operation.
                    The map shows regions in which there are significant internet outages, and includes live updates.
                    The information is provided by over 700,000 users of Pingdom across the world.
                </li>
                <li>
                    <b> The Internet Weather Map </b>
                    The Internet Weather Map is a free service that maps latency on the Internet.
                    Volunteers from around the world feed back latency on the Internet into a central database.
                    The map displays delays of over 300ms, and refreshes every 60 seconds. The map provided by the Internet Weather Map
                    would be useful if many users  (in the U.S., specifically) struggled to maintain connections due to tampering by broadband providers.
                </li>
            </ul>
            <p></p>
            <p></p>
            <p></p>
            <hr>
            <h2>Take Action</h2>
            <ul>
                <li>
                    <b>Submit a Filing to the FCC</b>
                    <br>Users may submit a filing to the FCC to <a href="https://www.fcc.gov/ecfs/filings/express"> here</a>. Under "proceedings", write "17-108" and
                    fill the rest out with your personal information. In the comments section, users may say that they support net neutrality and Title 2 oversight of ISPs.
                </li>
                <li>
                    <b>Email the FCC leaders with your concerns.</b>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ajit Pai</td>
                                <td>Chairman</td>
                                <td>Ajit.Pai@fcc.gov</td>
                            </tr>
                            <tr>
                                <td>Mignon Clyburn</td>
                                <td>Commissioner</td>
                                <td>Mignon.Clyburn@fcc.gov</td>
                            </tr>
                            <tr>
                                <td>Michael O'Rielly</td>
                                <td>Commissioner</td>
                                <td>Mike.O'Rielly@fcc.gov</td>
                            </tr>
                            <tr>
                                <td>Brendan Carr</td>
                                <td>Commissioner</td>
                                <td>Brendan.Carr@fcc.gov</td>
                            </tr>
                            <tr>
                                <td>Jessica Rosenworcel</td>
                                <td>Commissioner</td>
                                <td>Jessica.Rosenworcel@fcc.gov</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <b>Contact your representatives in Congress</b>
                    <br>Find your Senator's contact info <a href="https://www.dailykos.com/stories/2017/02/02/1629046/-Call-your-senator-Phone-numbers-for-every-office-of-every-U-S-senator"> here</a>.
                    Find your HOR's contact info <a href="https://www.house.gov/representatives/find-your-representative"> here</a>.
                </li>
            </ul>
            <p></p>
            <p></p>
            <p></p>
            <h6>Crowdsourcing Data Forewarning</h6>
            <div>FCC data is from December 2016, and Netflix ISP data is from February 2018.</div>
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
