@{
    ViewData["Title"] = "About";
}

<head>
    <title>Ping It</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <div class="inner">
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="~/Options/index"> Home </a></li>
                <li><a href="~/WebTest/Index"> Web Test </a></li>
                <li><a href="~/CrowdSource/Index"> Crowdsourced Database </a></li>
                <li><a href="~/DataAnalytics/Index"> Data Analytics </a></li>
                <li><a href="~/About/Index"> About </a></li>
            </ul>
        </nav>
        <!-- Main -->
        <div id="main">
            <div class="inner">
                <h2 align="center">About Ping It</h2>
                <p></p>
                <h3>Why Ping It?</h3>
                <p></p>
                    Ping It is a free, peer-based web-service aiming to help users fight the repeal of net neutrality. It includes comprehensive information aiming to help users fight the repeal of net neutrality regulations.
                <p></p>

                <h3>What’s happening?</h3>
                    In December 2017, The Federal Communications Commission (FCC) voted to discard 
                net neutrality rules which required broadband providers to enable access to all sites equally. 
                Though there are countless lawsuits due to challenge the repeal, it is a real possibility 
                that broadband providers will soon throttle access to websites not owned by them, 
                and otherwise may require consumers and website owners alike to pay for “premium” 
                web services. While these measures would impact any website or web service, 
                those most negatively impacted will likely be consumers and small business owners.
                <p></p>
                    We wanted to create a site that would increase user awareness of how the repeal 
                of net neutrality will impact them. One of the key factors is that users can view an
                anonymized collection of all previous data, crowdsourced from other users. This data 
                <attach link here> will include website response times from various broadcast providers, 
                locations, and website slowdowns over time. We also include a database of broadband 
                availability <link here> across the U.S. so that users may compare and view their website 
                performance speed across the country, with information provided by the FCC.
                Our functionality also includes ratings of website performance speeds <link here>. 
                Users can compare performance data across different websites and monitor them using data 
                provided by an API from Google.
                <p></p>
                    Last, we wanted to help the user
                <p></p>


        
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
