@{
    ViewData["Title"] = "Crowdsourced Data";
}

<head>
    <title>Ping It</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <div class="inner">
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </div>
        </header>

         <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="~/Options/index"> Home </a></li>
                <li><a href="~/WebTest/Index"> Web Test </a></li>
                <li><a href="~/CrowdSource/Index"> Crowdsourced Database </a></li>
                <li><a href="~/DataAnalytics/Index"> Data Analytics </a></li>
                <li><a href="~/About/Index"> About </a></li>
            </ul>
        </nav>

        
        <!-- Main -->
        <div id="main">
            <div class="inner">
                <h2 align="center">Test and Compare Broadband Availability</h2>
                <h6 align="center">All fields required.</h6>
                <h6 align="center">Database matches to all performance tests with the same domain.</h6>
                <p></p>
                <p></p>
                <form method="post" action="#">
                    <table align="center" style="width:800px">
                        <tr>
                            <td>
                                Browser Type
                                <select id="browser_options" name="browser_options" style="width: 300px">
                                    <option value="all">All &nbsp&nbsp &dtrif; </option>
                                    <option value="chrome">Chrome</option>
                                    <option value="firefox">FireFox</option>
                                    <option value="phantomJS">Headless</option>
                                </select>
                            </td>
                            <td>
                                Order By
                                <select id="order_options" name="order_options" style="width: 300px">
                                    <option value="asc">Ascending &nbsp&nbsp &dtrif; </option>
                                    <option value="desc">Descending</option>
                                </select>
                            </td>
                        <tr>
                            <td>
                                Website
                                <textarea id="website" style="width: 300px; height: 300px"></textarea>
                            </td>
                            <td>
                                City
                                <textarea id="city_text" placeholder="all" style="width: 200px; height: 20px"></textarea>
                            </td>
                            <td>
                                State
                                <textarea id="state_text" placeholder="all" style="width: 100px; height: 20px"></textarea>
                            </td>
                        </tr>
                    </table>
                    <table align="center" style="width:800px">
                        <tr> 
                            <td align="center"><input type="button" value="Submit" id="submit_btn" onclick="RevealBtns()" style="width: 150px" /></td>
                        </tr>
                    </table>
                </form>
                <div id="table_options" name="table_options" style="display:none" align="center">
                    <h2 align="center">Table Options</h2>
                    <input id="general_tbtn" type="button" value="General" onclick="LoadTable(0)"/>
                    <input id="detailed_tbtn" type="button" value="Detailed" onclick="LoadTable(1)" />
                    <input id="fcc_tbtn" type="button" value="FCC Data" onclick="LoadTable(2)"/>
                    <input id="website_tbtn" type="button" value="Website Comparisons" onclick="LoadTable(3)" />
                </div>
                <div id="table_section"></div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script>
        //Get the buttons
        var generalbtn = document.getElementById("general_tbtn");
        var detailedbtn = document.getElementById("detailed_tbtn");
        var fccbtn = document.getElementById("fcc_tbtn");
        var websitebtn = document.getElementById("website_tbtn");

        var section = document.getElementById("table_section");
        var loaded = false;
    </script>
    <script>
        //Reveal the table buttons
        function RevealBtns() {
            var pass = true;
            //Check to see if any values were left empty
            if (!$("#website").val()) {
                pass = false;
                alert("No website chosen.");
            }
            if (!$("#city_text").val()) {
                pass = false;
                alert("No city entered.");
            }
            if (!$("#state_text").val()) {
                pass = false;
                alert("No state entered.");
            }
            if ($("#state").val() && $("#state").val().length != 2) {
                pass = false;
                alert("State must be in abbreviation form.");
            }

            if (pass) {
                SetButtonsWhite();

                var options = document.getElementById("table_options");
                options.style.display = "block";

                //hide section
                if (loaded) {
                    section.style.display = "none";
                    loaded = false;
                }
            }
            
        }
    </script>
    <script>
        //Load the appropriate table
        function LoadTable(btn) {
            var ordering;

            if (($("#order_options").val()) == 'asc') {
                ordering = true;
            } else {
                ordering = false;
            }

            //Set buttons to white
            SetButtonsWhite();

            switch (btn) {
                case 0:
                    generalbtn.style.background = "#ADD8E6";
                    $("#table_section").load('@Url.Action("GeneralTable", "CrowdSource")?city=' + $("#city_text").val() +
                        '&state=' + $("#state_text").val() + '&browser=' + $("#browser_options").val() + '&website=' + $("#website").val() + '&order=' + ordering);
                    break;
                case 1:
                    detailedbtn.style.background = "#ADD8E6";
                    $("#table_section").load('@Url.Action("DetailedTable", "CrowdSource")?city=' + $("#city_text").val() +
                        '&state=' + $("#state_text").val() + '&browser=' + $("#browser_options").val() + '&website=' + $("#website").val() + '&order=' + ordering);
                    break;
                case 2:
                    fccbtn.style.background = "#ADD8E6";
                    $("#table_section").load('@Url.Action("FCCTable", "CrowdSource")?city=' + $("#city_text").val() +
                        '&state=' + $("#state_text").val() + '&order=' + ordering);
                    break;
                case 3:
                    websitebtn.style.background = "#ADD8E6";
                    $("#table_section").load('@Url.Action("WebsiteTable", "CrowdSource")?website=' + $("#website").val() + '&order=' + ordering);
                    break;
            }

            if (!loaded) {
                section.style.display = "initial";
                loaded = true;
            }
        }
    </script>
    <script>
        //Set all the buttons back to white
        function SetButtonsWhite() {
            generalbtn.style.background = "#FFFFFF";
            detailedbtn.style.background = "#FFFFFF";
            fccbtn.style.background = "#FFFFFF";
            websitebtn.style.background = "#FFFFFF";
        }
    </script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>


    
</body>

