@{
    ViewData["Title"] = "User";
}

<head>
    <title>Ping It</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../../css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <div class="inner">
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <!-- <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="whypingit.html">Why Ping It?</a></li>
                <li><a href="testwebavail.html">Test Web Availability</a></li>
                <li><a href="dataanalytics.html">Data Analytics</a></li>
            </ul> -->
        </nav>

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <header align="center">
                    <h1>Ping Low</h1>
                    <p>A free, crowd-sourced web service helping Internet test and compare website performance.</p>
                </header>
                <section class="tiles">
                    <article class="style1">
                        <span class="image">
                            <img src="../../images/pic01.jpg" alt="" />
                        </span>
                        <a href="whypingit.html">
                            <h2>Why PingIt?</h2>
                            <div class="content">
                                <p>PingIt is the first web performance assessment platform intended for the people, by the people.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style2">
                        <span class="image">
                            <img src="../../images/pic02.jpg" alt="" />
                        </span>
                        <a href="testwebavail.html">
                            <h2>Test Web Availability</h2>
                            <div class="content">
                                <p>Monitor website performance and availability.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style3">
                        <span class="image">
                            <img src="../../images/pic03.jpg" alt="" />
                        </span>
                        <a href="dataanalytics.html">
                            <h2>Data Analytics</h2>
                            <div class="content">
                                <p>View test data crowdsourced from other users and interactive graphs to analyze broadband availability and speeds.</p>
                            </div>
                        </a>
                    </article>
                </section>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <div class="inner">
                    <h2 align="center">Login</h2>
                    <form method="post" action="#">
                        <table align="center" style="width:100px">
                            <tr>
                                <td>Username </td>
                                <td alignment="center"><input type="text" name="username" id="login_username" style="width: 200px" /></td>
                            </tr>
                            <tr>
                                <td> Password </td>
                                <td alignment="center"><input type="password" name="password" id="login_password" style="width: 200px" /></td>
                            </tr>
                            <tr>
                                <td align="center"><input type="button" value="Create Account" id="create_btn" style="width: 200px" runat="server" onclick="Submit" /></td>
                                <td align="center"><input type="button" value="Login" id="login_btn" onclick="Login()" style="width: 200px" /></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script>
        //Runs the login function
        function Login() {
            $.ajax({
                type: "POST",
                url: "/Home/ValidateLogin",
                async: true,
                dataType: "json",
                data: { username: $("#login_username").val(), password: $("#login_password").val() },
                success: function (data) {
                    if (data.valid) {
                        window.location.href = '/User/Index';
                    } else {
                        alert("Password did not match.");
                    }

                },
                error: function () {
                    return "error";
                }
            });

        }
    </script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/skel.min.js"></script>
    <script src="../../js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../../js/main.js"></script>

</body>
