<head>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<div id="fccSpeedChart" style="width: 75%; height: 300px;display: inline-block;"></div>
<div id="loadtimeChart" style="width: 45%; height: 300px;display: inline-block;"></div>
<div id="cityLoadtimeChart" style="width: 45%; height: 300px;display: inline-block;"></div>
<script type="text/javascript">
    var chart1 = new CanvasJS.Chart("fccSpeedChart", {
        theme: "theme2",
        animationEnabled: true,
        title: {
            text: "Speed of Different Providers in Selected Location"
        },
        axisX: {
            interval: 1
        },
        axisY: {
            title: "Speed (Mbps)"
        },
        data: [
            {
                type: "column", //change type to bar, line, area, pie, etc
                dataPoints: @Html.Raw(ViewBag.FCCData),
            }
        ]
    });
    var chart2 = new CanvasJS.Chart("loadtimeChart", {
        theme: "theme2",
        animationEnabled: true,
        title: {
            text: "Avg. Loadtime of Various Domains"
        },
        axisX: {
            interval: 1
        },
        axisY: {
            title: "Loadtime (seconds)"
        },
        data: [
            {
                type: "column", //change type to bar, line, area, pie, etc
                dataPoints: @Html.Raw(ViewBag.LoadtimeData),
            }
        ]
    });
    var chart3 = new CanvasJS.Chart("cityLoadtimeChart", {
        theme: "theme2",
        animationEnabled: true,
        title: {
            text: "Avg. Loadtime Across Different Locations"
        },
        axisX: {
            interval: 1
        },
        axisY: {
            title: "Loadtime (seconds)"
        },
        data: [
            {
                type: "column", //change type to bar, line, area, pie, etc
                dataPoints: @Html.Raw(ViewBag.CityLoadtimeData),
            }
        ]
    });
    chart1.render();
    chart2.render();
    chart3.render();
</script>

