<head>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<div id="speedChart" style="width: 100%; height: 300px;display: inline-block;"></div>
<script type="text/javascript">
        var chart1 = new CanvasJS.Chart("speedChart", {
            theme: "theme2",
            animationEnabled: true,
            title: {
                text: "Speed of Different Providers"
            },
            axisX: {
                interval: 1
            },
            axisY: {
                title: "Speed (Mbps)"
            },
            data: [
                {
                    type: "column", //change type to bar, line, area, pie, etc
                    dataPoints: @Html.Raw(ViewBag.DataPoints),
                }
            ]
        });
        chart1.render();
</script>

