
@{
    ViewData["Title"] = "Data Analytics";
}

<head>
    <title>Ping It</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<style>
    .btn-group button {
        background-color: #ADD8E6;
        display: block;
    }
    .btn-group button:hover {
        background-color: #555;
    }
</style>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <div class="inner">
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="~/Options/Index"> Home </a></li>
                <li><a href="~/WebTest/Index"> Web Test </a></li>
                <li><a href="~/CrowdSource/Index"> Crowdsourced Database </a></li>
                <li><a href="~/DataAnalytics/Index"> Data Analytics </a></li>
            </ul>
        </nav>
        <!-- Main -->
        <div id="main">
            <!--Inner-->
            <div class="inner">
                <h2 align="center">Test and Compare Broadband Availability</h2>
            </div>
            <!-- Data Bar -->
            <div class="btn-group">
                <button>User Data</button>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>



