
@{
    ViewData["Title"] = "Data Analytics";
}

<head>
    <title>Ping It</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/main.css" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <div class="inner">
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="~/Options/index"> Home </a></li>
                <li><a href="~/WebTest/Index"> Web Test </a></li>
                <li><a href="~/CrowdSource/Index"> Crowdsourced Database </a></li>
                <li><a href="~/DataAnalytics/Index"> Data Analytics </a></li>
                <li><a href="~/About/Index"> About </a></li>
            </ul>
        </nav>
        <!-- Main -->
        <div id="main">
            <!--Inner-->
            <div class="inner">
                <h2 align="center">Analyze and Compare Broadband and Test Performance Data</h2>
                <div align="center">
                    <button id="user_data_btn" onclick="ShowUserButtons()">User Data</button>
                    <button id="compare_data_btn" onclick="ShowCompareTable()">Compare Data</button>
                </div>
                <p></p>
                <p></p>
                <!--Set of buttons to compare user test data-->
                <div id="user_data_options" style="display:none" align="center">
                    <h6 align="center">View and analyze your own test performance data</h6>
                    <input id="useravgs_btn" type="button" value="Test Averages" onclick="LoadUserData(0)" style="background:#F08080; font-size:10px;" />
                    <input id="usertimeplot_btn" type="button" value="Test Time Plots" onclick="LoadUserData(1)" style="background:#F08080; font-size:10px;" />
                </div>
                <div id="compare_data_options" style="display:none" align="center">
                    <h6 align="center">Compare your own test performance data with the crowdsourced data.</h6>
                    <h6 align="center">All fields are required.</h6>
                    <table id="compare_table" align="center" style="width:800px;">
                        <tr>
                            <td>
                                City
                                <textarea id="city_text" style="width: 300px; height: 20px"></textarea>
                            </td>
                            <td>
                                State
                                <textarea id="state_text" placeholder="(i.e. GA)" style="width: 300px; height: 20px"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Domain
                                <textarea id="domain_text" style="width: 300px; height: 20px"></textarea>
                            </td>
                            <td>
                                <input type="button" value="Compare" id="compare_btn" style="width: 150px" onclick="LoadCompareData()" />
                            </td>
                        </tr>
                    </table>
                </div>
                <p></p>
                <p></p>
                <div id="data_section" align="center"/>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script>
        //Get main buttons
        var userbtn = document.getElementById("user_data_btn");
        var compbtn = document.getElementById("compare_data_btn");

        //Get user buttons
        var avgsbtn = document.getElementById("useravgs_btn");
        var timeplotbtn = document.getElementById("usertimeplot_btn");

        //Get the div sections
        var useroptions = document.getElementById("user_data_options");
        var compoptions = document.getElementById("compare_data_options");

        var section = document.getElementById("data_section");

        var loaded = false;
    </script>
    <!--User Data Scripts-->
    <script>
        //Shows the user buttons when the user data button is clicked
        function ShowUserButtons() {
            if (loaded) {
                section.style.display = "none";
                loaded = false;
            }

            SetButtonsWhite();
            SetButtonsPink();

            userbtn.style.background = "#ADD8E6";

            //Make the appropriate options buttons appear
            useroptions.style.display = "block";
            compoptions.style.display = "none";
        }
    </script>
    <script>
        //Load user graphs and charts depending on what button chosen
        function LoadUserData(btn) {
            if (!loaded) {
                section.style.display = "block";
                loaded = true;
            }

            SetButtonsPink();
            switch (btn) {
                case 0:
                    avgsbtn.style.background = "#ADD8E6";
                    $("#data_section").load('@Url.Action("UserAvgsSection", "DataAnalytics")');
                    break;
                case 1:
                    timeplotbtn.style.background = "#ADD8E6";
                    $("#data_section").load('@Url.Action("UserTimePlotSection", "DataAnalytics")');
                    break;
            }
        }
    </script>
    <script>
        //Shows the compare table  when the compare button is clicked
        function ShowCompareTable() {
            if (loaded) {
                section.style.display = "none";
                loaded = false;
            }
            SetButtonsWhite();
            compbtn.style.background = "#ADD8E6";

            //Make the appropriate options buttons appear
            useroptions.style.display = "none";
            compoptions.style.display = "block";
        }
    </script>
    <script>
        //Loads the comparison data
        function LoadCompareData() {
            if (!loaded) {
                section.style.display = "block";
                loaded = true;
            }

            var pass = true;
            //Check to see if any values were left empty
            if (!$("#city_text").val()) {
                pass = false;
                alert("No city chosen.");
            }
            if (!$("#state_text").val()) {
                pass = false;
                alert("No state entered.");
            }
            if (!$("#domain_text").val()) {
                pass = false;
                alert("No domain text entered.");
            }
            if ($("#state_text").val() && $("#state_text").val().length != 2) {
                pass = false;
                alert("State must be in abbreviation form.");
            }
            if (pass) {
                $("#data_section").load('@Url.Action("CompareDataSection", "DataAnalytics")?city=' + $("#city_text").val() +
                    '&state=' + $("#state_text").val() + '&domain=' + $("#domain_text").val());
            }
        }
    </script>
    <script>
        //Set all the buttons back to white
        function SetButtonsWhite() {
            userbtn.style.background = "#FFFFFF";
            compbtn.style.background = "#FFFFFF";
        }
    </script>
    <script>
        //Set all the buttons back to pink
        function SetButtonsPink() {
            avgsbtn.style.background = "#F08080";
            timeplotbtn.style.background = "#F08080";
        }
    </script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>



