@{
    ViewData["Title"] = "Options";
}

<head>
    <title>PingIt</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/main.css" />
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <div class="inner">
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <!-- <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="whypingit.html">Why Ping It?</a></li>
                <li><a href="testwebavail.html">Test Web Availability</a></li>
                <li><a href="dataanalytics.html">Data Analytics</a></li>
            </ul> -->
        </nav>

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <header align="center">
                    <h1>PingIt</h1>
                    <p>A free, crowd-sourced web service helping Internet test and compare website performance.</p>
                </header>
                <section class="tiles">
                    <article class="style1">
                        <span class="image">
                            <img src="../../images/pic01.jpg" alt="" />
                        </span>
                        <a href="whypingit.html">
                            <h2>Why PingIt?</h2>
                            <div class="content">
                                <p>PingIt is the first web performance assessment platform intended for the people, by the people.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style2">
                        <span class="image">
                            <img src="../../images/pic02.jpg" alt="" />
                        </span>
                        <a href="../WebTest/Index">
                            <h2>Test Web Availability</h2>
                            <div class="content">
                                <p>Monitor website performance and availability.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style3">
                        <span class="image">
                            <img src="../../images/pic03.jpg" alt="" />
                        </span>
                        <a href="dataanalytics.html">
                            <h2>Data Analytics</h2>
                            <div class="content">
                                <p>View test data crowdsourced from other users and interactive graphs to analyze broadband availability and speeds.</p>
                            </div>
                        </a>
                    </article>
                </section>
            </div>
        </div>
    </div>

    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/skel.min.js"></script>
    <script src="../../js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../../js/main.js"></script>

</body>
